@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}

.fire-gradient {
  background: -webkit-linear-gradient(#FF5716, #E6B800);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}